@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0b0b0b;
}
.landing {
  background-color: #0b0b0b;
  width: 97%;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 2rem;
}
.lottie {
  width: 100%;
  margin: 0 auto;
  margin-top: 0rem;
  position: relative;
  top: -160px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-links p {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 33px; */
  /* identical to box height */

  color: #ffffff;

  opacity: 0.8;
}
.landing-text {
  padding: 0 9rem;
  position: relative;
  z-index: 3;
}
.landing-text h1,
.features h1 {
  margin-top: 8rem;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.landing-text p,.about-page p,
.features p {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  /* or 139% */

  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;

  opacity: 0.75;
  margin-top: 1rem;
  padding: 0 1rem;
}
.btns {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2.8rem;
}
.btns button {
  background: #ffffff;
  font-weight: 600;
  font-size: 20.4507px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #0b0b0b;
  padding: 11px 26px;
  border: none;
  cursor: pointer;
  border-radius: 6.55698px;
}
.btns .secondary-btn {
  border: 1.10417px solid #75fbb4;
  color: #75fbb4;
  background: transparent;
}

.features-text {
  padding: 0 8rem;
}
.features-lottie {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.footer-contact h1 {
  font-weight: 400;
}

.footer-contact p {
  margin-top: 10px;
  font-weight: 500;
}

.footer-contact p:nth-child(2) {
  opacity: 0.7;
  margin-top: 15px;
}

.footer-contact a {
  margin-top: 10px;
  color: #75fbb4;
}
.footer {
  color: #fff;
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 4rem;
} 
.footer-logo p {
  margin-bottom: 25px;
  margin-top: 15px;
  opacity: 0.7;
}
.footer-wrap {
  border-top: 1px solid hsla(0, 0%, 100%, 0.13);
  padding-top: 4rem;
}
#root
  > div.landing
  > div.lottie
  > div
  > svg
  > g
  > g:nth-child(4)
  > g:hover
  path {
  fill: #75fbb4;
}
#root
  > div.landing
  > div.lottie
  > div
  > svg
  > g
  > g:nth-child(4)
  > g:nth-child(1):hover
  path {
  fill: #fff;
}
.App textarea {
  background-color: #fff !important;
}
.Compiler h1,.about-page h1 {
  font-weight: 700;
  font-size: 45.2px;
  line-height: 56px;
  /* or 125% */
  margin-top: 3rem;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.editor-component {
  /* width: 60%; */
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.editor-component .cm-scroller {
  height: 500px !important;
  padding-top: 2rem;
}
.editor-component {
  position: relative;
}
.editor-component img {
  width: 100%;
}
.editor-component .cm-editor {
  border-radius: 20px 20px 0 0;
  border: 14px solid #aaa9ad;
  /* border-radius: 15px 15px 0 0; */
}

.editor-wrap {
  position: relative;
}
/* .editor-wrap img{ 
  position: absolute;
  bottom: -10%;width: 1000px;
  z-index: 3; ;text-align: center; 
} */

.cm-theme-dark {
  margin: 0 9rem;
}
.navbar-compiler {
  margin-top: 1.2rem;
}
.navbar .logo svg,
.navbar .nav-links {
  transition: all 0.4s ease-in-out;
}
.navbar-compiler .logo svg,
.navbar-compiler .nav-links {
  transform: scale(0.85);
}
.file-name p {
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 20px;
  z-index: 4;
  width: 100%;
}
.three-circle > div {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #4c5569;
}
.three-circle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 0;
  padding: 0 11rem;
  z-index: 4;
  top: 24px;
}
.compiler-btn {
  position: absolute;
  bottom: 15%;
  z-index: 4;
  right: 15%;
}
.compiler-btn button {
  font-size: 16px;
  background-color: #75fbb4;
  font-weight: 600;
  padding: 9px 20px;
}

.language-select p {
  font-weight: 600;
  font-size: 12.0916px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: #75fbb4;
  display: flex;
  align-items: center;
  gap: 10px;
}
.language-select {
  position: absolute;
  z-index: 4;
  right: 15%;
  top: 4%;
  cursor: pointer;
}
.language-box p {
  font-weight: 600;
  font-size: 13.0916px;
  line-height: 18px;
  letter-spacing: -0.02em;
  width: 100%;
  text-align: center;
  padding: 7px 10px;

  color: #ffffff;
}
.language-box {
  background: #636262;
  box-shadow: 0px 86px 34px rgba(0, 0, 0, 0.01),
    0px 48px 29px rgba(0, 0, 0, 0.05), 0px 21px 21px rgba(0, 0, 0, 0.09),
    0px 5px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 6px 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 170px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.selected-language {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.language-box {
  position: absolute;
  right: 8%;
}
.output-component {
  position: absolute;
  z-index: 5;
  background: linear-gradient(
    105.74deg,
    #1a1818 6.98%,
    rgba(0, 0, 0, 0.28) 81.83%
  );
  box-shadow: 0px 295px 118px rgba(0, 0, 0, 0.03),
    0px 166px 99px rgba(0, 0, 0, 0.1), 0px 74px 74px rgba(0, 0, 0, 0.17),
    0px 18px 41px rgba(0, 0, 0, 0.19), 0px 0px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(123.3398px);
  /* Note: backdrop-filter has minimal browser support */
  text-align: left;
  border-radius: 16.0964px;
  padding: 19px 32px;
  top: 22%;
  left: 23%;
  width: 45%;
  min-height: 300px;
  padding-bottom: 70px;
}
.output-header p {
  font-weight: 500;
  font-size: 24px;
  line-height: 39px;
  /* identical to box height, or 139% */

  text-align: center;
  letter-spacing: -0.03em;
  text-align: left;

  color: #ffffff;
  margin-bottom: 0.7rem;
}
.output p {
  font-weight: 400;
  margin-left: 1.7rem;
  text-align: left;
  font-size: 16px;
  word-break: break-all;
  /* identical to box height, or 162% */

  letter-spacing: -0.03em;

  color: #d17277;
}
.ok-btn button {
  position: absolute;
  bottom: 20px;
  background: #ffffff;
  border-radius: 6.55698px;
  padding: 3px 18px;
  font-weight: 600;
  font-size: 16.4507px;
  border: none;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #0b0b0b;
}
button {
  cursor: pointer;
}
.new-component {
  width: 60%;
  margin: 0 auto;
}
.view-line span {
  font-size: 16px;
}
.view-lines {
  font-family: "Poppins", sans-serif;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: #282c34 !important;
}
.editor-component section {
  margin: 0 7rem !important;
  border-radius: 20px 20px 0 0;
  border: 14px solid #aaa9ad;
}
.overflow-guard,
.overflow-guard > .margin {
  padding-top: 2rem;
}
.editor-flex {
  display: flex;
  gap: 4rem;
  width: 95%;
  margin: 0 auto;
}
.input-comp {
  width: 100%;
}
.input-comp textarea {
  background: #1d1d1d;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  font-weight: 500;
  font-size: 20.4507px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: -0.02em;

  color: #ffffff;
  height: 270px;
  width: 80%;
  padding: 1rem;
}
.input-comp textarea::placeholder {
  opacity: 1;
}
.input-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5.5rem;
  align-items: flex-start;
}
.input-status {
  color: #fff;
  margin-top: 2rem;
}

.input-status p {
  font-weight: 600;
  font-size: 20.4507px;
  line-height: 31px;
  /* identical to box height */
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 400px;
  justify-content: space-between;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.input-status p span {
  font-weight: 500;
  margin-left: 1rem;
  padding: 5px 17px;
  font-size: 16px;
  background: #1d1d1d;
  min-width: 200px;
  display: block;
  height: 41px;
  border-radius: 6px;
}
.about-lottie{
  width: 50%;margin: 0 auto; 
}
.about-page p{
  padding: 0 10%;font-weight: 500;margin-bottom: 4rem;
}
.menu-btn{
  cursor: pointer;
}
@media (max-width:1000px) {
  .logo svg{
    width: 180px;
  }
  .navbar{
    position: relative;
  }
  .navbar .sidebar{
    position: absolute;background: #242424;top: 10%;right: 10px;width: 260px;z-index: 4;
    
    padding: 2rem 1rem ;
    box-shadow: 0px 204px 82px rgba(0, 0, 0, 0.01), 0px 115px 69px rgba(0, 0, 0, 0.05), 0px 51px 51px rgba(0, 0, 0, 0.09), 0px 13px 28px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
  }
  .sidebar .nav-links{
    display: flex;flex-direction: column;align-items: flex-start;gap: 1rem;
  }
  .sidebar .nav-links p{
    cursor: pointer;padding: 1rem; 
  }
  .landing-text h1, .features h1{
    font-size: 36px;line-height: unset;margin-top: 3rem;
  }
  .landing-text p, .about-page p, .features p{
    font-size: 18px;line-height: unset;padding: 0;
  }
  .landing-text,.features-text{
    padding: 0 2rem;
  }
  .lottie{
    top: 0px;
  }
   .features-lottie{
    top: -40px;
  }
  .features-lottie{
    width: 100%;
  }
  .footer{
    flex-direction: column;
  }
  .about-lottie{
    width: 80%;
  }
  .about-page p{
    padding: 0 4rem;
  }
}
@media (max-width:500px){
  .landing-text h1, .features h1{
    margin-top: 2.4rem;
  }
  .navbar{
    margin-top: 1.5rem;
  }
  .about-page p{
    padding: 0 1rem;
  }
  .btns button{
    font-size: 16px;    padding: 8px 23px;
  }
  .landing-text h1, .features h1{
    font-size: 28px;line-height: 38px;
  }
  .landing{
    width: 100%;
  }
  .features h1 {
    white-space: nowrap;font-size: 30px;
  }
  .landing-text p, .about-page p, .features p{
    font-size: 1rem;
  }
}
.logo{
  cursor: pointer;
}
.close-btn{
  background-color: #424242;
  border-radius: 8px;width: 100%;
}